body{
  width:max-content;
  height:max-content;
}
.row.row{
  --bs-gutter-x:0rem;
}
.login-box-row {
  background: green;
  width: 200px;
}
.calendar {
  background: green;
  border: 1;
  border-style: solid;
  border-color: indigo;
  width: 120px;
  height: 50px;
}
.evolucion {
  background: green;
  border: 1;
  border-style: solid;
  border-color: indigo;
  width: 120px;
  height: 50px;
}
.quote {
  background: green;
  border: 1;
  border-style: solid;
  border-color: indigo;
  width: 120px;
  height: 50px;
}
.quote:hover {
  background-color: gold;
  cursor: pointer;
}
.form-control.inputborder{
  border:0px solid;
  border-top: 2px solid;
  border-radius: 0;
}
.formborder{
  border:2px solid;
  border-radius: .15rem;
  text-align: center;
}

.login-box-container {
  display:flex;
  align-items: center;
  border: solid;
  width:88vw;
  height: 84vh;
  justify-content: center;
  background-image: url('./logo.svg');
  background-attachment: fixed;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  border: solid;
  align-items: center;
  justify-content: center;
  border-left: none;
  border-bottom: none;
  width:88vw;
  height:16vh;
}
.navleft {
  display: flex;
  height: 100vh;
  width:136px;
  border:solid;
  border-right: none;
}
.content{
  display:flex;
  flex-direction: column;
}
.global{
  display: flex;
}