.row.row {
  --bs-gutter-x: 0rem;
}
.nav-link.nav-link.nav-link {
  border: none;
}
.login-box-row {
  background: green;
  width: 200px;
}
.calendar {
  background: green;
  border: 1;
  overflow: hidden;
  border-style: solid;
  border-color: indigo;
  width: 120px;
  height: 50px;
}
.quote {
  background: green;
  border: 1;
  border-style: solid;
  border-color: indigo;
  width: 10px;
  height: 50px;
}
.quote:hover {
  background-color: gold;
  cursor: pointer;
}
.form-control.inputborder {
  border: 2px solid;
  border-top: 1px solid;
  border-radius: 0;
}
.bigborder {
  border: 2px solid;
  border-radius: 0.15rem;
  text-align: center;
  align-content: center;
  height: 150px;
  background-color: white;
}
.formborder {
  border: 2px solid;
  border-radius: 0.15rem;
  text-align: center;
  align-content: center;
  height: 55px;
  background-color: wheat;
}
.tab {
  padding-bottom: 1%;
}
.space-right.space-right {
  padding-right: 1%;
}
.login-box-container {
  display: flex;
  align-items: center;
  border: solid;
  height: 84vh;
  justify-content: center;
  background-image: url('./R.png');
  background-attachment: fixed;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  border: solid;
  align-items: center;
  justify-content: center;
  border-left: none;
  border-bottom: none;
  height: 16vh;
}
.navleft {
  display: flex;
  height: 100vh;
  width: 136px;
  border: solid;
  border-right: none;
}
.container-fluid.content {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.global {
  display: flex;
}
