/*navbar*/
.nav-link.nav-link.nav-link {
  border: none;
  color: black;
  padding: 12px;
}
.nav-link.nav-link.nav-link:hover {
  background-color: green;
}
#grad1 {
  background-color: rgb(
    108,
    187,
    68
  ); /* For browsers that do not support gradients */
  background: linear-gradient(to right, rgb(108, 187, 68), white);
}
#grad2 {
  background-color: rgb(
    108,
    187,
    68
  ); /* For browsers that do not support gradients */
  background: linear-gradient(rgb(96, 179, 63), white);
}
/*Calendario*/
.calendar {
  background: #6be303;
  border: 1;
  overflow: hidden;
  text-align: center;
  border-style: solid;
  border-color: #268e00;
  height: 35px;
}
.quote {
  background: white;
  border-style: solid;
  border-color: #268e00;
  height: 35px;
}
.quote:hover {
  background-color: gold;
  cursor: pointer;
}
/*HCE*/
.form-control.inputborder {
  border: 2px solid;
  border-top: 1px solid;
  border-radius: 0;
}
.bigborder {
  border: 2px solid;
  border-radius: 0.15rem;
  padding: 5px;
  background-color: white;
}
.formborder {
  border: 2px solid;
  border-radius: 0.15rem;
  text-align: center;
  align-content: center;
  height: 55px;
  background-color: wheat;
}
.lifeborder {
  border-left: 2px solid;
  border-right: 2px solid;
  border-radius: 0.15rem;
  text-align: center;
  align-content: center;
  height: 55px;
}
.tab {
  padding-bottom: 1%;
}
.login-box-container {
  display: flex;
  align-items: center;
  border: solid;
  overflow-y: scroll;
  height: 84vh;
  justify-content: center;
  background-color: white;
  background-image: url(fondo-login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding-top: 2rem;
}
.box-container {
  display: flex;
  border: solid;
  overflow-y: scroll;
  justify-content: center;
  height: 84vh;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  display: flex;
  border: solid;
  align-items: center;
  justify-content: center;
  border-left: none;
  border-bottom: none;
  height: 16vh;
}
.navleft {
  display: flex;
  height: 100vh;
  width: 136px;
  border: solid;
  border-right: none;
}
.container-fluid.content {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
.global {
  display: flex;
}
.container.loginwidth{
  width: 22%;
  border: solid 3px;
  padding: 22px;
  text-align: center;
  border-radius: 10px;
  background-color: green;
}
@media screen and (max-width: 768px) {
  /* For mobile phones: */
  .navleft{
    width: 32px;
  }
  .header{
    height:6vh;
  }
  .box-container {
    height:94vh;

  }
  .container.loginwidth{
    width:100%;
  }
  .login-box-container {
    height:94vh;
    
  }

}